* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    background-color: #f6f3f200;
}
a {
    text-decoration: none;
    color: #2d3a4b;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-playfair {
    font-family: "Playfair", serif;
}

.text-orange {
    color: #f38509;
}
.text-orange-bold {
    color: #f96f09;
}

.text-yellow {
    color: #ffe115;
}

.bg-orange {
    background-color: #f38509;
}
.bg-orange-soft{
    background: rgb(255 188 0) !important;
}
.bg-orange-bold{
    background: #f96f09 !important;
}
.bg-yellow {
    background-color: #ffe115 !important;
}
.bg-pink {
    background-color: #a931923d !important;
}
.bg-blue{
    background-color: #EAF6FF;
}
.bg-yellow-f{
    background-color: #FFF9E6;
}
.bg-brown{
    background-color: rgb(245 151 60 / 21%);
}
.fontSize10{
    font-size: 10px !important;
}
.fontSize12{
    font-size: 12px !important;
}
.fontSize14{
    font-size: 14px !important;
}
.fontSize15{
    font-size: 15px !important;
}
.fontSize20{
    font-size: 20px !important;
}
.fontSize25{
    font-size: 25px !important;
}
.fw-bold-600 {
    font-weight: 600;
}
.fw-bold-500 {
    font-weight: 500;
}
.fw-bold-400 {
    font-weight: 400;
}
.fw-bold-300 {
    font-weight: 300;
}
.fw-bold-100 {
    font-weight: 100;
}

/**
   TOPBAR
*/
.top-bar {
    height: 50px;
}
.top-bar .login li {
    display: inline-block;
    padding: 0 15px;
}
.top-bar .login li a {
    line-height: 50px;
    font-size: 12px;
    text-transform: uppercase;
}
.zoom:before {
    transition: transform 1s ease;
}
.user-basket .item-count {
    position: absolute;
    top: -10px;
    right: -3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    line-height: 21px;
}
.bg-orange {
    background-color: #f38509;
}

.top-bar .user-basket .dropdown-menu {
    padding: 20px;
    border: 0;
    border-radius: 0;
    min-width: 350px;
    top: 12px !important;
    right: 0 !important;
    left: auto !important;
    box-shadow: -1px 2px 20px rgba(0, 0, 0, 0.3);
}
.overflow-custom {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
}
/**
   TOPBAR
*/

/**
   HEADER
*/
header {
    min-height: 130px;
    padding: 30px;
}
.logo {
    max-height: 70px;
}
.navbar-nav .dropdown {
    position: unset;
}

header nav li.nav-item {
    margin: 0 5px;
    padding: 15px 0;
}
li {
    list-style: none;
}
header nav li a.nav-link:hover:before {
    width: 100%;
}
header nav li a.nav-link {
    font-size: 14px !important;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 10px;
    letter-spacing: 3px;
    position: relative;
    transition: all .3s linear;
}
header nav li a.nav-link:before {
    width: 0;
    margin: 0 auto;
    position: absolute;
    content: "";
    height: 5px;
    left: 0;
    top: 45%;
    z-index: -1;
    background-color: #ffe115;
    transition: 0.3s ease-in-out;
}
.navbar-nav .dropdown .dropdown-menu {
    width: 70%;
    left: 15%;
    padding: 30px;
    top: 105px;
}
.navbar-column {
    border-right: 1px solid rgba(0, 0, 0, 0.16);
    padding-left: 35px;
}
.dropdown-menu a.dropdown-link {
    display: block;
    font-size: 14px;
}
.dropdown-menu a.dropdown-link:hover {
    color: #ffe115;
}
.dropdown-toggle::after {
    display: none;
}
/**
   HEADER
*/

.search-input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    transition: border-color 2s ease;
}

.search-input:focus {
    border-bottom: 2px solid #ffe115;
    box-shadow: unset;
}
/**
Main Slider
 */
.slider .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}
.slider .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    text-align: center;
}
.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-title h3 {
    font-size: 55px;
}
.slider-title h2 {
    font-size: 75px;
    text-align: center;
}
.slider-title a {
    border-radius: 0;
    font-size: 20px;
    padding: 10px 30px;
}
.slider .swiper-button-prev,
.slider .swiper-button-next {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: background-color .4s ease;
}
.slider .swiper-button-prev:hover,
.slider .swiper-button-next:hover {
    background-color: #fff;
    color: #000;
}
/*
Image Slider Latest Added Product
 */
.wrapper-product .product-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.wrapper-product .product-tag {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 10px;
    letter-spacing: 0.04em;
}
.wrapper-product .favorite,
.wrapper-product .un-favorite {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.wrapper-product .product-brand {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    padding-bottom: 2px;
    letter-spacing: 1px;
    background-color: rgb(245 151 60 / 21%);;
}
.wrapper-product .product-info .product-title {
    font-size: 19px;
    margin-bottom: 0;
}
.wrapper-product .product-info .product-description {
    font-size: 14px;
}
.wrapper-product .product-info .product-price {
    font-weight: 500;
    font-size: 14px;
}
.latest-added-products {
    background-color: rgb(245 151 60 / 21%);
}
.latest-added-swiper {
    overflow-x: hidden;
}


.latest-added-products .swiper-button-next:after,
.latest-added-products .swiper-button-prev:after {
    font-size: 15px;
    color: #2d3a4b;
}
.latest-added-products .swiper-button-prev {
    right: 60px;
    left: auto;
}

.latest-added-products .swiper-button-next,
.latest-added-products .swiper-button-prev {
    top: 14px;
    bottom: auto;
    width: 40px;
    height: 40px;
    text-align: center;
}

.latest-added-products .swiper-button-next:hover,
.latest-added-products .swiper-button-prev:hover {
    border-radius: 40px;
    border: 1px solid #2d3a4b;
}

.latest-added-products .swiper-button-next,
.latest-added-products .swiper-button-prev {
    top: 14px;
    bottom: auto;
    width: 40px;
    height: 40px;
    text-align: center;
}

/*Whatsapp*/
.whatsapp-floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: #25d366; /* WhatsApp yeşili */
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000; /* Önde durması için */
}

/* Hover Efekti */
.whatsapp-floating:hover {
    transform: scale(1.1); /* Hafif büyüme efekti */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

/* WhatsApp İkonu */
.whatsapp-icon {
    margin-right: 10px;
    font-size: 24px;
}

/* Uçma Animasyonu */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.whatsapp-floating {
    animation: float 2s infinite;
}

/*Footer*/

/* Footer Genel Stil */
.custom-footer {
    background-color: #2c3e50; /* Koyu arka plan */
    color: #ecf0f1; /* Açık metin rengi */
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
}

.custom-footer h5 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f38509; /* Başlıklar için turuncu renk */
}

.custom-footer p {
    font-size: 14px;
    line-height: 1.8;
}

/* Hızlı Erişim Linkleri */
.quick-links {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 10px;
}

.quick-links li a {
    color: #ecf0f1; /* Link rengi */
    text-decoration: none;
    transition: color 0.3s ease;
}

.quick-links li a:hover {
    /*color: #f39c12; !* Hover rengi *!*/
    color: #f38509; /* Hover rengi */
}

/* Sosyal Medya İkonları */
.social-icons a {
    color: #ecf0f1;
    font-size: 24px;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f39c12;
}

/* Footer Alt Kısmı */
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #7f8c8d;
    padding-top: 10px;
}
.vertical-timeline{
    max-width: unset !important;
}

@media only screen and (max-width:768px) {

}